.authors {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    .search {
        display: flex;
        gap: 0.5rem;
        margin-right: auto;

        .search_input {
            width: 25rem;
        }
    }
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem !important;
}

.pagination {
    margin: 0 auto;
    margin-top: 1rem;
}

.not_found, .loader {
    margin: 10rem auto;
}

.title {
    font-weight: bold;
}

.input_date {
    margin: 0.5rem 0;
}

.input_wrap {
    margin: 1rem 0;

    .input {
        margin: 0.5rem 0;
    }
}

.checkbox {
    margin: 1.5rem 0;
}

.btn_submit {
    margin-top: 1rem;
}
