.info {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .head {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 1rem;
        justify-content: space-between;

        .title {
            .name {
                margin: 0;
            }

            .status {
                display: flex;
                align-items: center;
                gap: 0.5rem; 
                .indicator {
                    width: 1rem;
                    height: 1rem;
                    background-color: green;
                    border: solid 0.125rem rgb(255, 255, 255);
                    border-radius: 1rem;
                }
    
                .indicator::before {
                    content: '';
                    inset: 0;
                    transform: scale(1);
                }
            }
        }

        .actions {
            display: flex;
            gap: 1rem;
            flex-wrap: wrap;
        }
    }

    .content { 
       display: flex;
        gap: 1rem;


        .image_wrap {
            width: 30%;
            overflow: hidden;
            .image {
                flex: 1;
            }
        }

        .main {
            width: 35%;
            background-color: rgb(250, 250, 250);
            padding: 1rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .rating {
                display: flex;
                gap: 1rem;
                z-index: 1;

                .title {
                    font-size: 1.25rem;
                    font-weight: bold;
                }
            }

            .description {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .title {
                    font-size: 1.25rem;
                    font-weight: bold;
                }
            }

            .comment {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .title {
                    font-size: 1.25rem;
                    font-weight: bold;
                }
            }

            .source {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .title {
                    font-size: 1.25rem;
                    font-weight: bold;
                }
            }
        }

        .list_details {
            width: 35%;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            .divider {
                margin: 0.25rem 0;
            }

            .item {
                display: flex;
                gap: 0.5rem;
                justify-content: space-between;
            }
        }
    }
}

.title_form {
    font-weight: bold;
}

.input_date {
    margin: 0.5rem 0;
}

.input_wrap {
    margin: 1rem 0;

    .input {
        margin: 0.5rem 0;
    }
}

.checkbox {
    margin: 1.5rem 0;
}

.btn_submit {
    margin-top: 1rem;
}
